
@{
    ViewBag.Title = "Cambiar Contrasena";
}
@{ 
    var correo = ViewData["correo"];
} 

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cambio de Contraseña</title>
    <link href="~/Content/CambiarContraseña.css" rel="stylesheet" />
</head>
<body>

    @using (Html.BeginForm("CambiarContrasena", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <div class="container">
        <h2>Cambiar Contraseña</h2>
        <input type="hidden" name="correo" value=@correo>

        <div class="inputbox">
            <input type="text" id="codigo" name="codigo" placeholder="Codigo" required />
        </div>

        <div class="inputbox">
            <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required />
        </div>

        <button type="submit">Cambiar Contraseña</button>
    </div>

            }  @if (ViewData["Mensaje"] != null)
            {
                <p>@ViewData["Mensaje"]</p>
            }
    </body>
</html>
