@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Index.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <input type="checkbox" id="check" />
            <label for="check" class="checkbtn">
                <img class="img2" src="~/Content/Img/MenuDespliegue.png" alt="Icono de navegación" />
            </label>
            <div class="Text1"><h1>CentroMedico</h1></div>
            <a href="#" class="enlace">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img class="img0" src="~/Content/Img/Logo_Ing_Software_Sin_Fondo.png" /></a>
            </a>
            <ul>
                <li><a href="#">SOBRE NOSOTROS</a></li>
                <li><a href="#">SERVICIOS</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="InicioSesion" class="nav-link"><img class="img1" src="~/Content/Img/Usuario.png" /></a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>
