@{
    ViewBag.Title = "ReservarCita";
}
@{
    var user = Session["UserLogged"] as Software_Proyecto.Dto.PersonaDto; 
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Agenda</title>
    <link href="~/Content/ReservarCita.css" rel="stylesheet" />
</head>
<body>

    @using (Html.BeginForm("ReservarCita", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

     <div class="container">
        <h2>Agendamiento de Cita</h2>

        <div>
            <label>Correo</label>
            <input type="email" id="correo" name="correo" value="@user.correo" required>
        </div>

        <div>
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" name="fecha" required>
        </div>

        <div>
            <label for="hora_inicio">Hora de Inicio</label>
            <input type="time" id="hora_inicio" name="hora_inicio" required>
        </div>

        <div>
            <input type="text" id="estado" name="estado" value="Reservado" hidden>
        </div>

        <div class="containerbutton">
            <button type="submit">Agendar</button>
        </div>
    
     </div>

    }  @if (ViewData["Mensaje"] != null)
    {
        <p>@ViewData["Mensaje"]</p>
    }

</body>
</html>
