@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaPaciente</title>
    <link href="~/Content/VistaPaciente.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <h2>Paciente</h2>
        <button class="btn-cerrar">Agendar Citas</button>
        <button class="btn-cerrar">Historico Citas</button>
        <button class="btn-cerrar">Cerrar Sesión</button>
    </div>
</body>
</html>
